<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<img src="images/Brand.png" alt="Brand">
<p class="title is-2">ColorLife</p>
<p class="subtitle is-4"><i>Application to color your B&W Portraiture</i></p>
<p class="subtitle is-4">Ready to give colors to your life !</p>
<div class="container has-text-centered">
  <div class="columns">
    <div class="column is-auto">
      <img src="images/Before_Photo.jpg" alt="Before_Photo">
    </div>
    <div class="column is-auto">
      <img src="images/After_Photo.png" alt="After_Photo">
    </div>
  </div>
</div>
{% endblock %}
